.carts {
    width: 300px;
    min-height: 100px;
    border: 2px solid gray;
    border-radius: 15px;
    padding: 20px 0;

}

.cart-img img {
    width: 80px;
    border-radius: 50px;
}

.button {
    background-color: aqua;
    color: black;
}

.info {
    display: flex;
    justify-content: space-evenly;
}