.carts {
    width: 300px;
    height: 400px;
    border: 2px solid gray;
    border-radius: 15px;

}

.cart-img img {
    width: 80px;
    border-radius: 50px;
}
button {
    background-color: aqua;
    color: black;
}